* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

.col-12 {
	padding: 0;
}

.container-fluid {
	padding: 30px 0px 150px 0px;
/* 	margin: 0; */
	min-height: calc(100vh - 60px);
	background: #eeeee3;
}

.container {
	padding: 0;
/* 	margin: 0; */
}

/* - - - - - HEADER - - - - - -*/

nav .container a {
	color: #fff;
}

nav {
	background: #0f4b0e;
}

.nav-item a:hover {
	color: #dedede;
}

.nav-item a:focus {
	color: #dedede;
}

.dropdown-menu {
	color: #000;
	background: #f0f5eb !important;
}

.dropdown-item {
	color: #000 !important;
	border: 1px solid red;
	background: #f00;
}

/* - - - - - FIN HEADER - - - - - -*/


/* - - - - - FOOTER - - - - - -*/

footer {
	background: #002d00;
	color: #dedede;
	padding: 30px 55px 10px 55px;
}

.footer-container {
	display: flex;
	justify-content: space-between;
}

.seccion-footer h6 {
	color: #fff;
}

.seccion-footer ul {
	padding: 0;
}

.seccion-footer li {
	list-style: none;
	text-align: left;
	font-size: 14px;
}

.seccion-footer li:hover {
	color: #898989;
	cursor: pointer;
}

.copyrigth {
	text-align: center;
	color: #ababab;
	letter-spacing: 2px;
}

/* - - - - - FIN FOOTER - - - - - -*/

.carousel-item img {
  height: 500px;

}

/* - - - - - - RECETAS - - - - - - - -*/

.categoria-container {
	background: #466b14;
	height: 80px;
	color: #fff;
	letter-spacing: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 12px;
	margin-top: 15px !important;
	margin-bottom: 15px;
}

.categoria-container h4 {
	font-weight: bold;
	font-size: 32px;
}

@media (max-width: 992px) {
	.categoria-container h4 {
		font-size: 22px;
	}
	.categoria-container {
		height: 50px;
	}
	.card-bodys h5 {
		font-size: 24px;
	}
	.card-text {
		font-size: 20px;
	}
}

.card-receta-container {
	padding: 10px 15px 20px 15px;
}

.card-receta {
	border: 1px solid #aaa;
	padding: 16px;
	border-radius: 12px;
	height: 500px;
	background: #fff;
	transition: all 0.5s ease;
}

.card-receta:hover {
	box-shadow: 0px 0px 12px 2px #aaa;
}

.card-receta img {
	width: 100%;
	min-height: 250px;
	max-height: 250px;
	object-fit: fill;
}

.card-bodys {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
/* 	border: 1px solid red; */
	height: 200px;
}



.cabecera-de-receta {
	background: #003e00;
	text-align: center;
	margin-bottom: 30px;
	color: #fff;
	border-radius: 15px;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.una-receta-container {
/* 	border: 1px solid red; */
	padding: 50px 0px 50px 0px;
}

.una-receta-container2 {
/* 	border: 1px solid red; */
	padding: 0px 0px 0px 0px;
	margin-top: 50px !important;
	display: flex;
	justify-content: center;
}

.una-receta {
	border: 2px solid #bcbcbc;
	box-shadow: 0px 0px 12px 3px #cbcbcb;
	width: 70%;
	margin: auto;
	padding: 35px;
	background: #fff;
	border-radius: 16px;
	text-align: center;
}

.una-receta-imagen {
	padding: 0 !important;
}

.una-receta-imagen img {
	max-width: 100%;
	min-height: 250px;
	max-height: 450px;
	object-fit: fill;
	margin: auto;
}

.una-receta-ingredientes {
	padding: 0 !important;
}

.una-receta-ingredientes h3 {
	font-weight: bold;
	text-align: left;
}

.una-receta-ingredientes p {
	text-align: left;
	font-size: 20px;
}

.una-receta-ingredientes ul {
	padding: 0;
}

.una-receta-ingredientes ul li {
	text-align: left;
	list-style: none;
}


@media (max-width: 992px) {
	* {
		font-size: 14px;
	}
	.una-receta {
		padding: 18px;
		width: 100%;
	}
	.una-receta-ingredientes h3 {
		font-weight: bold;
		text-align: center;
	}
	.una-receta-ingredientes p {
		text-align: center;
		font-size: 20px;
	}
	.una-receta-ingredientes ul {
		padding: 0;
	}
	.una-receta-ingredientes ul li {
		text-align: center;
		list-style: none;
	}
	.col-12 {
		padding: 0 !important;
	}
}

/* - - - - - - FIN RECETAS - - - - - - - -*/

/* - - - - - - CONTACTO - - - - - - - - */

.contacto-container {
	text-align: center;
	margin: 30px auto;
	padding: 50px;
	width: 100%;
	border-radius: 8px;
	background-color: #92e27a;
}


.contacto-container iframe{
	flex-direction: column;
}

.contacto-header{
	text-align: center;
}

.contacto-header p {
	font-family: sans-serif;
	font-weight: bolder;
	font-size: 28px;
	color: #fff;
	letter-spacing: 1px;
}

.contacto-container a {
	color: #fff;
	font-size: 22px;
	padding: 5px 10px;
	margin: 10px;
}

.contacto-container ul li {
	list-style: none;
	display: inline-block;
}

.contacto-info {
  display: flex;
  align-items: center;
}

.contacto-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
}


.contacto-item span {
  font-size: 14px;
}

input {
	background: #fff;
	border-radius: 10px;
	margin: 4px 6px;
	font-family: 'Lobster', cursive;
	text-align: center;
	padding: 5px 10px; 
}

#email, #nombreContacto {
	margin-bottom: 10px;
	color: #343434;
/* 	white-space: pre-line; */
	width: 350px;
}

#mensajeAenviar {
	width: 350px;
	height: 75px;	
}

button{
	background: blue;
	color:#fff;
    font-size: 25px;
    font-family: 'Lobster', cursive;
    border-radius: 10px;
    margin:15px 13px;
    padding: 5px 15px;
}

.enviar:hover {
	background-color: darkblue;
	cursor: pointer;
}

.contacto-container ul li a {
	width: auto;
}

.contacto ul li {
	background-color: blue;
	display: inline-block;
	list-style: none;
	padding: 10px;
	border-radius: 12px;
	margin: 10px 3px;
}

.contacto ul li a {
	color: #fff;
	font-size: 16px;
	text-decoration: none;
}

.contacto ul li:hover {
	background-color: darkblue;
}

.contacto-form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contacto-form label {
	color: #fff;
	font-size: 20px;
	margin-bottom: 10px;
}

.contacto-form input {
	width: 200px;
	margin: 10px 0px 5px 0px;
}

@media (max-width: 992px) {
	.contacto-container {
		padding: 15px
	}
	.contacto-header p {
		font-size: 22px; 
	}
	.contacto-container a {
		font-size: 20px
	}
	.contacto-form label {
		font-size: 16px;
	}
	#mensajeAenviar {
	width: 100%;
	height: 75px;	
	}
}

.mensajesEnviados-container {
	background-color: #b4ff9a;
	padding: 20px 30px !important;
	border-radius: 8px;
}

.mensajesEnviados-container input,
.mensajesEnviados-container textarea {
	width: 100%;
	text-align: left;
	margin-top: 6px;
	margin-bottom: 12px;
}

.no-resize {
	resize: none;
}

.text-danger {
	font-family: sans-serif;
}

/* ------------------------------- Fin contacto ------------------------- */

/* - - - - - - GESTION RECETAS - - - - - - - -*/

.imagen-receta {
	width: 100%;
	max-height: 350px;
	object-fit: fill;
}
/* - - - - - - FIN GESTION RECETAS - - - - - - - -*/

