<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no">
<link th:rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
<link th:rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<link rel="icon" th:href="@{/index-images/icono2.png}">
<title>Datos de Contacto</title>
</head>
<body>

	<header th:replace="~{layouts/header :: header}"></header>

	<div>
		<img alt="banner-vital-contacto"
			src="/contacto-images/banner_contactanos_vital.jpg">
	</div>
	<div class="container-fluid">
		<div class="container">
			<div class="contacto-header">
				<h1>Contáctese con nosotros</h1>
			</div>
			<div class="row">
				<div class="col-12 col-lg-6">
					<div class="contacto-container">
						<div class="contacto-header">
							<h4>Dejanos tu mensaje</h4>
						</div>

						<form class="contacto-form" th:action="@{/contacto/enviar}"
							th:object="${contacto}" method="post">

							<label class="mb-0" for="nombreContacto">Nombre: </label> <input
								th:field="*{nombre}" id="nombreContacto" type="text"
								class="form-control" name="nombreContacto"
								th:classappend="${#fields.hasErrors('nombre')} ? 'is-invalid' : ''">
							<div class="text-danger" th:if="${#fields.hasErrors('nombre')}"
								th:errors="*{nombre}"></div>

							<label class="mt-3 mb-0" for="email">Email: </label> <input
								th:field="*{email}" id="email" type="text" class="form-control"
								name="email"
								th:classappend="${#fields.hasErrors('email')} ? 'is-invalid' : ''">
							<div class="text-danger" th:if="${#fields.hasErrors('email')}"
								th:errors="*{email}"></div>

							<label class="mt-3 mb-0" for="mensajeAenviar">Mensaje: </label> <input
								th:field="*{mensaje}" id="mensajeAenviar" type="text"
								class="form-control" name="mensajeAenviar"
								th:classappend="${#fields.hasErrors('mensaje')} ? 'is-invalid' : ''">
							<div class="text-danger" th:if="${#fields.hasErrors('mensaje')}"
								th:errors="*{mensaje}"></div>

							<p class="text-white" th:if="${enviado}">Su mensaje ha sido
								enviado.</p>
							<button class="btn btn-light mt-3">Enviar</button>
						</form>
					</div>
				</div>

				<div class="col-12 col-lg-6">
				<div class="contacto-container">
						<div class="contacto-header">
							<h4>Estamos en:</h4>
						</div>
						<iframe
							src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3400.350517847619!2d-68.52000822517405!3d-31.5419937023333!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x96816a9bdfcef3c3%3A0xb7b14d307b9b4ca1!2sVital%20San%20Juan.%20Especialidades%20Medicas!5e0!3m2!1ses!2sar!4v1689002786140!5m2!1ses!2sar"
							width="450" height="350" style="border: 0;" allowfullscreen=""
							loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
					</div>
				</div>
				</div>
			</div>

			<div class="row">
				<div>
					<h5 class="text-center" th:if="${mensajes.isEmpty()}">Aún no
						enviaste mensajes</h5>
					<h5 class="text-center mb-3" th:if="${not mensajes.isEmpty()}">Mensajes
						enviados:</h5>
				</div>
				<div th:each="msj : ${mensajes}" class="row mb-3">
					<div
						class="col-12 col-md-8 col-lg-6 m-auto mensajesEnviados-container">
						<div class="form-group">
							<label for="origen">De: </label> <input id="origen" type="text"
								class="form control" disabled
								th:value="${msj.nombre} + '  (' + ${msj.email} + ')'">
						</div>
						<div class="form-group">
							<label for="mensajeEnviado">Mensaje: </label>
							<textarea class="form-control no-resize" id="mensajeEnviado"
								rows="3" disabled th:text="${msj.mensaje}"></textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="~{layouts/footer :: footer}"></footer>

	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}"></script>

</body>
</html>