<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
   <link th:rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
   <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
   <link rel="icon" th:href="@{/index-images/icono2.png}">
   <title>Gestion de Testimonios</title>
</head>
<body>
	
	<header th:replace="~{layouts/header :: header}"></header>
	
	<div class="container testi-cont m-auto tabla-recetas" >
		<div class="row">
			<div class="cabecera col-12 pt-3" >
				<h1>Gestion de Testimonios</h1>
			</div>
		</div>
		<div class="col-12 gestion-botones mb-3">
			<a class="btn btn-sm btn-dark" th:href="@{/testimonios/nuevo}">Agregar un Testimonio</a>
		</div>
		<div class="row" >
			<table class="table">
				<thead class="table-dark">
					<tr>
						<th>ID</th>
						<th>Fecha</th>
						<th>Comentario</th>
						<th>Usuario</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody class="table-striped">
					<tr th:each="tes:${testimonios}">
						<td th:text="${tes.id}"></td>
						<td th:text="${tes.fecha}"></td>
						<td th:text="${tes.comentario}"></td>
						<td th:text="${tes.usuario.nombre} + ' ' + ${tes.usuario.apellido}"></td>
		                <td>
<!--		                  <a th:href="@{/gestion-testimonios/modificar/}+${tes.id}"
		                     class="btn btn-sm btn-secondary">Modificar
		                  </a>-->
		                  <a th:href="@{/gestion-testimonios/eliminar/}+${tes.id}"
		                     class="btn btn-sm btn-danger">Eliminar
		                  </a>
		               </td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>

	<footer th:replace="~{layouts/footer :: footer}"></footer>
	
	<script type="text/javascript" th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}"></script>
	
</body>
</html>