<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
   <link th:rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
   <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
   <link rel="icon" th:href="@{/index-images/icono2.png}">
   <title>Agregar Ingrediente</title>
</head>
<body>
	
	<header th:replace="~{layouts/header :: header}"></header>
	
	<div class="container-fluid gestion-nuevo-ingrediente-container">
		<div class="container m-auto row">
			
			<div class="nuevo-ingrediente-form">
				<form th:action="@{/gestion-recetas/guardar-ingrediente}" th:object="${ingrediente}" method="post">
					<div class="mb-3">
						<h2>Agegar ingrediente</h2>
					</div>
					
					<div class="mb-3">
				        <label for="receta" class="form-label">Receta:</label>
				        <select class="form-select" id="receta" name="receta" th:field="*{receta}">
				            <option value="">Seleccione una Receta</option>
				            <option th:each="rec: ${recetas}" th:value="${rec.id}" th:text="${rec.nombre}"></option>
				        </select>
				    </div>
					
					<div class="mb-3">
						<label for="nombre">Ingrediente:</label>
				    	<input class="form-control" type="text" id="nombre" name="nombre" th:field="*{nombre}">
					</div>
					
					<div class="mb-3">
				  		<button class="btn btn-sm btn-dark" type="submit">Agregar Ingrediente</button>
				  	</div>
				</form>
			</div>
			
		</div>
	</div>



	
	<footer th:replace="~{layouts/footer :: footer}"></footer>
	
	<script type="text/javascript" th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>