<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
   <link th:rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
   <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
   <link rel="icon" th:href="@{/index-images/icono2.png}">
   <title>Salud Vital</title>
</head>
<body>
	
	<header th:replace="~{layouts/header :: header}"></header>
		
	<div>
		<img alt="banner-vital-imc"
			src="/recetas-images/banner_recetas.png">
	</div>	
	
	<div class="recetas-container container-fluid">
		<div class="container m-auto row">
			
			<div class="descripcion-imc">
				<h2>Recetas saludables fáciles con verduras y frutas</h2>
				<p>¿Te faltan ideas para cocinar platos sanos y equilibrados? En esta lista encontrarás desde recetas muy sencillas hasta platos más elaborados para días especiales. Todas son propuestas sanas basadas en verduras y frutas.</p>
			</div>
			
			<div class="row px-0">

				<div class="col-12">
					<div class="row d-flex flex-wrap">
						<div class="col-12 col-md-6 col-lg-4 card-receta-container">
							<div class="card-receta">
							  <img th:src="@{/recetas-images/carnes.jpg}" class="card-img-top">
							  <div class="card-bodys mt-3">
							    <div>
							    	<h5 class="card-title mt-3 text-center">Recetas de Carnes</h5>
							    </div>
							    <div>
							    	<a th:href="@{/recetas/listado/categoria/carnes}" class="btn btn-dark">Ver Recetas</a>
							    </div>
							  </div>
							</div>
					    </div>
					    
					    <div class="col-12 col-md-6 col-lg-4 card-receta-container">
							<div class="card-receta">
							  <img th:src="@{/recetas-images/bebidas.jpg}" class="card-img-top">
							  <div class="card-bodys mt-3">
							    <div>
							    	<h5 class="card-title mt-3 text-center">Recetas de Bebidas</h5>
							    </div>
							    <div>
							    	<a th:href="@{/recetas/listado/categoria/bebidas}" class="btn btn-dark">Ver Recetas</a>
							    </div>
							  </div>
							</div>
					    </div>
					    
					    <div class="col-12 col-md-6 col-lg-4 card-receta-container">
							<div class="card-receta">
							  <img th:src="@{/recetas-images/dulces.jpg}" class="card-img-top">
							  <div class="card-bodys mt-3">
							    <div>
							    	<h5 class="card-title mt-3 text-center">Recetas de Dulces</h5>
							    </div>
							    <div>
							    	<a th:href="@{/recetas/listado/categoria/dulces}" class="btn btn-dark">Ver Recetas</a>
							    </div>
							  </div>
							</div>
					    </div>
					    
					    <div class="col-12 col-md-6 col-lg-4 card-receta-container">
							<div class="card-receta">
							  <img th:src="@{/recetas-images/ensaladas.jpg}" class="card-img-top">
							  <div class="card-bodys mt-3">
							    <div>
							    	<h5 class="card-title mt-3 text-center">Recetas de Ensaladas</h5>
							    </div>
							    <div>
							    	<a th:href="@{/recetas/listado/categoria/ensaladas}" class="btn btn-dark">Ver Recetas</a>
							    </div>
							  </div>
							</div>
					    </div>
					    
					    <div class="col-12 col-md-6 col-lg-4 card-receta-container">
							<div class="card-receta">
							  <img th:src="@{/recetas-images/legumbresycereales.jpg}" class="card-img-top">
							  <div class="card-bodys mt-3">
							    <div>
							    	<h5 class="card-title mt-3 text-center">Recetas de Legumbres y Cereales</h5>
							    </div>
							    <div>
							    	<a th:href="@{/recetas/listado/categoria/legumbresycereales}" class="btn btn-dark">Ver Recetas</a>
							    </div>
							  </div>
							</div>
					    </div>
					    
   					    <div class="col-12 col-md-6 col-lg-4 card-receta-container">
							<div class="card-receta">
							  <img th:src="@{/recetas-images/pescado.jpg}" class="card-img-top">
							  <div class="card-bodys mt-3">
							    <div>
							    	<h5 class="card-title mt-3 text-center">Recetas de Pescados</h5>
							    </div>
							    <div>
							    	<a th:href="@{/recetas/listado/categoria/pescados}" class="btn btn-dark">Ver Recetas</a>
							    </div>
							  </div>
							</div>
					    </div>
					    
					    <div class="col-12 col-md-6 col-lg-4 card-receta-container">
							<div class="card-receta">
							  <img th:src="@{/recetas-images/pan.jpg}" class="card-img-top">
							  <div class="card-bodys mt-3">
							    <div>
							    	<h5 class="card-title mt-3 text-center">Recetas de Pan</h5>
							    </div>
							    <div>
							    	<a th:href="@{/recetas/listado/categoria/pan}" class="btn btn-dark">Ver Recetas</a>
							    </div>
							  </div>
							</div>
					    </div>
					    
					    <div class="col-12 col-md-6 col-lg-4 card-receta-container">
							<div class="card-receta">
							  <img th:src="@{/recetas-images/sopasycremas.jpg}" class="card-img-top">
							  <div class="card-bodys mt-3">
							    <div>
							    	<h5 class="card-title mt-3 text-center">Recetas de Sopas y Cremas</h5>
							    </div>
							    <div>
							    	<a th:href="@{/recetas/listado/categoria/sopasycremas}" class="btn btn-dark">Ver Recetas</a>
							    </div>
							  </div>
							</div>
					    </div>
					    
					</div>
				</div>
				
			</div>
			
		</div>
	</div>
	
	<footer th:replace="~{layouts/footer :: footer}"></footer>
	
	<script type="text/javascript" th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}"></script>
	
</body>
</html>