<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
   <link th:rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
   <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
   <link rel="icon" th:href="@{/index-images/icono2.png}">
   <title>Salud Vital</title>
</head>
<body>
	
	<header th:replace="~{layouts/header :: header}"></header>
	
	<div>
		<img alt="banner-vital-imc"
			src="/servicios-images/banner_servicio_peso_ideal.jpg">
	</div>
		
	<div class="servicio-pesoideal-container container-fluid">
		<div class="container m-auto row">
			<div class="descripcion-imc">
				<h2>Calculadora de peso ideal (hombres y mujeres)</h2>
				<p>El peso ideal es una valoración importante que, además de ayudar a la persona a saber si está por encima o por debajo del peso, también previene complicaciones como la obesidad, la diabetes e incluso la desnutrición, que ocurre cuando el individuo tiene muy bajo peso.</p>
				<p>El peso ideal es calculado de acuerdo con el IMC, el cual es medido por medio de dos variables: el peso y la altura. No obstante, no toma en consideración ni la masa muscular, ni la masa ósea o si la persona sufre de alguna enfermedad, por ejemplo. </p>
				<p>Para saber el rango de peso considerado ideal para usted, introduzca sus datos en la siguiente calculadora:</p>
			</div>
			
			<div class="cabecera col-12">
				<h1>Servicio Peso Ideal</h1>
			</div>
			<div>
				<form th:action="@{/servicio/calcular-peso-ideal/guardar}" th:object="${pesoIdeal}" method="POST">
					<div class="col-sm-6">
						
						<div class="mb-3">
						    <label for="id">ID:</label>
					        <select class="form-select" id="usuario" name="usuario" th:field="*{usuario}">
					            <option value="">Seleccione su ID</option>
					            <option th:each="usu: ${usuarios}" th:value="${usu.id}" th:text="${usu.id}"></option>
					        </select>
<!-- 							<input type="number" min="2" class="form-control" id="usuario" name="usuario" th:field="*{usuario}"> -->
					        <div class="text-danger" th:if="${#fields.hasErrors('usuario')}" th:errors="*{usuario}"></div>
						 </div>
						  
						<div class="mb-3">
				  			<button class="btn btn-sm btn-dark" type="submit">Calcular peso</button>
				  		</div>
				  		<div th:if="*{pesoCalculado}" class="mensaje-identificador">
	            			<p>Su peso ideal es: <span th:text="*{pesoCalculado}"></span></p>
	            		</div>
					</div>
				</form>

			</div>
		</div>
	</div>
	
	<footer th:replace="~{layouts/footer :: footer}"></footer>
	
	<script type="text/javascript" th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}"></script>
	
</body>
</html>