<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
   <link th:rel="stylesheet" type="text/css" th:href="@{/css/estilos.css}">
   <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
   <link rel="icon" th:href="@{/index-images/icono.ico}">
   <title>Footer</title>
</head>
<body>

	<footer>
		<div class="footer-container">
			<div class="icono-footer">
				<img th:src="@{/index-images/icono2.png}" width="100" height="100" class="me-2">
			</div>
			<div class="seccion-footer mb-3">
				<h6>Servicios</h6>
				<ul>
					<li>Calculo IMC</li>
					<li>Peso Ideal</li>
				</ul>	
			</div>
			<div class="seccion-footer">
				<h6>Salud y Bienestar</h6>
				<ul>
					<li>Recetas</li>
					<li>Testimonios</li>
					<li>Registro</li>
				</ul>	
			</div> 
		</div> 
        <p class="copyrigth">Copyright 2023 - Diseñado por Grupo 16 – República Argentina</p>
   </footer>
   
   <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>